@import '_vars';
body{
  background:white;
  color:black;
  font-size:14px
}

a {text-decoration: none;
color: white;
text-transform: uppercase;
}


img{
  height: 400px;
  width: 400px;
}
footer{
  padding-top: 50px;
  padding-bottom: 50px;
  background: white;
  color: black;
}
#welcome{
  padding-top: 20vh;
  height: 100vh;
}
#welcome h1{
  font-weight: bold;
  font-size: 50px;
}
.info{
  padding-top: 30px;
  padding-bottom: 30px;
}
p{
  font-size: 20px;
}
