<section class="row">

  <div class="col-sm-12 col-md-4">
    <div class="col-sm-12 text-center">
      <img src="/images/image1.jpg" alt="img1">
    </div>

    <h2 class="col-sm-12 text-center">Compact without compromise.</h2>
    <p class="col-sm-12">Parenting is full of adjustments like learning to function on little sleep and never leaving the house again without an arsenal of supplies. Fortunately for parents there’s been no compromising with the CRUZ. Its streamlined design gives you more without weighing you down. So stroll down bumpy city streets, maneuver around crowded malls, load your basket with your diaper bag, toys, groceries and whatever else you need. Relax, the world is still your oyster.</p>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="col-sm-12 text-center">
      <img src="/images/image2.jpg" alt="img2">
    </div>

    <h2 class="col-sm-12 text-center">Go Places, Big and Small</h2>
    <p class="col-sm-12">Designed for your daily adventures and exciting excursions, the MINU offers modern conveniences in a portable, lightweight stroller. Go where you want, how you want – there’s nothing extra holding you back.</p>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="col-sm-12 text-center">
      <img src="/images/image3.jpg" alt="img3">
    </div>

    <h2 class="col-sm-12 text-center">One for all.</h2>
    <p class="col-sm-12">Love. Marriage. Baby Carriage. Life moves fast. However, first-time expectant parents are about to experience new shifts in speed. Grocery runs become a crawl. Dirty diapers are reason to sprint. While second (and third) time parents have more realistic expectations, the VISTA keeps them all moving forward, no matter what life throws their way. The VISTA’s intuitive design allows for multiple configurations, making transporting a second and third child a breeze – all while strolling like a single.</p>
  </div>

</section>
