<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/master.css">
  </head>
  <body>
    <h1>Everything below me is dynamically rendered yeaah from the route</h1>
<a href="/">Home</a>
    {{{body}}}
    <h3>Going live under the router view</h3>
    <a href="/user1">User 1</a>
    <a href="/user2">User 1</a>

  </body>
</html>


//make sure to include the forward slash
